/* Pagination.css */

.pagination-container {
    margin: 20px;
}


.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: green;
    color: white;
}

.data-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.data-table tr:hover {
    background-color: #f1f1f1;
}

.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pagination li {
    display: inline-block;
}

.pagination li a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    cursor: pointer;
}

.pagination li a:hover {
    background-color: #f1f1f1;
}
